---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching, Yo</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <div class="box">
    The box!
  </div>
</div><!-- .welcome -->
